<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>
  <body>

    <table>
    <% for(var i=0; i<5; i++) {
    %>
      <tr>
       <% for(var j=0;j<10;j++){
        %>
      <td><%= i %></td>
        <% }%>
      </tr>
      <% }%>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <button id="button">DB Test</button>
  </body>

<script>
$('#button').on('click',function(event){
  alert("Click");

  alert("Method over");
  $.ajax({
    type:'POST',
    data: { test: 'test' },
    url:'/button'
  }).done(function(data,textStatus,jqXHR){
    console.log(data);
  })
})
</script>
</html>
